---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

:root {
  --background: #000000;
  --primary: #e1e1e1;
  --secondary: #a5a3a1;
  --tertiary: #353432;
  --color-2: #FF7A00;
  --color-1: #FF9933;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize",
  "typography",
  "layout"
;
