---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Load up the icon font.
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o33a7o');
  src:  url('../fonts/icomoon.eot?o33a7o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o33a7o') format('truetype'),
    url('../fonts/icomoon.woff?o33a7o') format('woff'),
    url('../fonts/icomoon.svg?o33a7o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}

.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}

// Our variables
$base-font-family: 'Karla', sans-serif;
$base-font-size:   1.125em;
$base-font-weight: 400;
$base-line-height: 1.5;

$spacing-unit:     1.5em;

$text-color:       #142C3B;
$background-color: #FFFFFF;
$brand-color:      rgba(180,180,180,0.5);

$primary-width:    52em;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize",
  "typography",
  "layout"
;
