<footer class="site-footer">
  <div class="wrapper">

    <ul>
      <li><a href="https://designand.substack.com">Blog</a></li>
      <li><a onclick="window.location.href='mailto:hello'+'@'+'stuartwiener.com';">Contact</a></li>
    </ul>

    <ul>
      <li><a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon-twitter"></span>Twitter</a></li>
      <li><a href="https://instagram.com/{{ site.instagram_username }}"><span class="icon-instagram"></span>Instagram</a></li>
      <li><a href="https://github.com/{{ site.github_username }}"><span class="icon-github"></span>Github</a></li>
      <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/"><span class="icon-linkedin"></span>LinkedIn</a></li>
    </ul>

    <p>Stuart Wiener &copy; {{ 'now' | date: "%Y" }}</p>

  </div>
</footer>
