<header class="site-header">
  <div class="wrapper">
    
      <a class="cleared-a" href="{{ site.url }}">
        <img src="{{ site.url }}/images/stuart_wiener_2019.jpg" alt="Stuart Wiener">
      </a>

      <ul>
          <li><a onclick="window.location.href='mailto:hello'+'@'+'stuartwiener.com';">Contact</a></li>
          <li><a href="{{ site.url }}/resume/">Résumé</a></li>
        </ul>

      <ul>
        <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/"><span class="icon-linkedin"></span>LinkedIn</a></li>
        <li><a href="https://instagram.com/{{ site.instagram_username }}"><span class="icon-instagram"></span>Instagram</a></li>
        <li><a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon-twitter"></span>Twitter</a></li>
        <li><a href="https://github.com/{{ site.github_username }}"><span class="icon-github"></span>Github</a></li>
      </ul>

  </div>
</header>
