<header class="site-header">

  <div class="wrapper">

    <div class="site-heading">
      <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      {% if site.twitter_username %}
        <a class="plain-link" href="https://twitter.com/{{ site.twitter_username }}"><span class="icon-twitter"></span></a>
      {% endif %}
      <h2>{{ site.description }}</h2>
    </div>

    <!-- <nav class="site-nav">
      <a href="#" class="site-nav-menu-icon">

      </a>

      <div class="site-nav-menu">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}


      </div>
    </nav> -->

  </div>

</header>
