// Header
.site-header {
  background: $light-color;

  .wrapper {
    max-width: $primary-width;
    margin: 0 auto;

    .site-heading {
      max-width: $content-width;
      margin: 0;
      box-sizing: border-box;
      padding: $spacing-unit*2 $spacing-unit;

      * {
        display: inline;
      }
    }
  }
}

// Main content
.site-content {
  max-width: $primary-width;
  margin: 0 auto;

  .wrapper {
    max-width: $content-width;
    margin: 0;
    box-sizing: border-box;
    padding: $spacing-unit;
  }
}

// Footer
.site-footer {
  max-width: $primary-width;
  margin: 0 auto;

  .wrapper {
    max-width: $content-width;
    margin: 0;
    box-sizing: border-box;
    padding: $spacing-unit;
  }
}

// Other
.wrapper .home {
  padding: $spacing-unit 0;
  .icon-arrow {
    display: inline-block;
    padding: 0 6px;
  }
}
.post-list {
  padding: 0;
  list-style: disc;
  display: inline;
  li {
    display: inline;
    h2, span {
      display: inline;
    }
    &:after {
      content: '•';
      display: inline-block;
      padding: 0 6px;
      position: relative;
      top: 2px;

    }
  }
}
