html {
  background: $background-color;
}
.wrapper {
  margin: 0 1em;
}
@media screen and (min-width:40em) {
  .wrapper {
    max-width: 50%;
  }
}
.site-header {
  margin: 0 auto;
  max-width: 40em;
}
.site-content {
  margin: 0 auto;
  max-width: 40em;
}
