html {
  background: #FFE279;
  animation: bgcolorrotation 25s linear infinite alternate;
}
@keyframes bgcolorrotation {
  0% { background-color: #ACDAB1; }
  100% { background-color: #FFE279; }
}

.site {
  position: relative;

  .site-header {
    position: relative;
    z-index: 1;

    box-sizing: border-box;
    padding: 18px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
      }
    }
  }

  .site-content {
    position: relative;
    z-index: 1;

    box-sizing: border-box;
    padding: 18px;
  }

  .site-background {
    position: fixed;
    top:0;
    left: 0;
    z-index: -1;

    #maincanvas {
      
    }
  }
}

@media (min-width: 720px) {
  .site {
    .site-header {
      position: fixed;
      top: 0; 
      left: 0;
      width: 50%;
    }
    .site-content {
      margin-left: 50%;
      width: 50%;
      
    }
  }
}

@media (min-width: 1440px) {
  .site {
    display: flex;

    .site-header {
      width: 25%;
    }
    .site-content {
      margin-left: 25%;
      width: 25%;
      
    }
  }
}