/**
 * Basic styling
 */
html {
    font-family: $text-font-family;
    font-size: $text-font-size;
    line-height: $text-line-height;
    font-weight: $text-font-weight;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}
::-moz-selection {
    color: $heading-color;
    background: $brand-color;
}
::selection {
  color: $heading-color;
  background: $brand-color;
}
a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid $brand-color;
}
a:hover {
  color: $brand-light-color;
}
strong {
  font-weight: 600;
}

p {
  font-size: 1em;
  margin: $spacing-unit 0;
  font-weight: $text-font-weight;
}
ol, ul {
  padding: 0 0 0 1em;
  margin: $spacing-unit 0;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $display-font-family;
  font-size:   $display-font-size;
  line-height: $display-line-height;
  margin: $spacing-unit 0;
  font-weight: $display-font-weight;
  color: $heading-color;
}

h2 {
  font-family: $display-font-family;
  font-size:   $text-font-size;
  line-height: $text-line-height;
  margin: $spacing-unit 0;
  font-weight: $display-font-weight;
  color: $heading-color;
}

.cleared-a {
  border-bottom: none;
}

.site-header {
  font-family: $display-font-family;

  ul {
    list-style: none;
    padding: 0;
  }
}
.site-footer {
  font-family: $display-font-family;
}