/**
 * Basic styling
 */
html {
    font: $base-font-weight 1em/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
@media screen and (min-width:40em) {
  html {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  }
}
::-moz-selection {
    color: $text-color;
    background: $brand-color;
}

::selection {
  color: $text-color;
  background: $brand-color;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $other-font-family;
  font-weight: 400;
  text-decoration: none;
  font-size: 1em;
  margin: $spacing-unit 0;
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
.site-header {
  h1,h2 {
    font-family: $base-font-family;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
  }
  a.plain-link {
    vertical-align: middle;
  }
}
.post-list {
  h2 {
    font-weight: 700;
  }
}
a {
  text-decoration: none;
  color: $text-color;
  border-bottom: 2px solid $text-color;
  background: $background-color;
  transition: all 0.1s ease-out;
  background: -moz-linear-gradient(top, transparent 0%, transparent 65%, $brand-color 66%, $brand-color 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 65%, $brand-color 66%,$brand-color 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 65%, $brand-color 66%,$brand-color 100%);
  background-size: 0 100%;
}
a:hover {
  background-size: 100% 100%;
}
.plain-link {
  border-bottom: none;
  color: $brand-color;
}
.plain-link:hover {
  background: none;
  color: $other-color;
}
p {
  margin: $spacing-unit 0;
  padding: 0;
}
ul {
  margin: $spacing-unit 0;
  padding: 0 0 0 $spacing-unit*1.5;
  list-style: disc;
}
ol {
  margin: $spacing-unit 0;
  padding: 0 0 0 $spacing-unit*1.5;
  list-style: decimal;
}
blockquote {
  margin: $spacing-unit 0;
  padding: 1px $spacing-unit;
  background: $grey-color;
}
cite {
  font-family: $other-font-family;
  font-style: normal;
}
cite::before {
  content: '—'
}
em {
  font-family: $other-font-family;
  font-weight: 400;
  font-style: italic;
}
strong {
  font-weight: 700;
}
figure {
  margin: $spacing-unit 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}
figcaption {
  font-size: $small-font-size;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  max-width: 100%;
  height: auto;
}
pre, code, kbd {
  font-family: monospace;
  background: $grey-color;
  margin: $spacing-unit 0;
  padding: 0;
}
pre {
  max-width: 100%;
  padding: $spacing-unit;
  overflow-x: auto;
}
.post-meta {
  font-size: $small-font-size;
}
.site-footer-final {
  font-family: $other-font-family;
  font-size: $small-font-size;
}
