/**
 * Basic styling
 */
html {
    font: $base-font-weight 1em/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}
@media screen and (min-width:40em) {
  html {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  }
}
::-moz-selection {
    color: $heading-color;
    background: #ffd0c1;
}
::selection {
  color: $heading-color;
  background: #ffd0c1;
}
a {
  color: $brand-color;
  text-decoration: none;
}
a:hover {
  color: $text-color;
}

p {
  font-size: 1em;
  margin: $spacing-unit 0;
  font-weight: $base-font-weight;
}
ol, ul {
  padding: 0 0 0 1em;
  margin: $spacing-unit 0;
}
li {

}
img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.5em;
  margin: $spacing-unit/1.5 0;
  font-weight: 600;
  color: $heading-color;
}
h2 {
  font-size: 1.2em;
  margin: $spacing-unit/1.2 0;
  font-weight: 600;
  color: $heading-color;
}
