<!DOCTYPE html>
<html>
  <head>

    {% include head.html %}

  </head>
  <body>

    <div class="site">

        <div class="site-header">
            <ul>
                <li><a class="{% if page.name == 'index.html' %}active{% endif %}" href="{{ site.url }}">Stuart Wiener</a></li>
            </ul>
        </div>

      <div class="site-content">
        
        {{ content }}

        <ul class="navigation space">
          <li><span>📄</span> Read more about my <a href="{% link experience.html %}">professional experience</a></li>
          <li><span>👀</span> Have a look at some of my <a href="{% link work.html %}">recent work</a></li>
          <li><span>🖋️</span> <a onclick="window.location.href='mailto:hello'+'@'+'stuartwiener.com';">Email me</a> if you would like to get in touch</li>
          <li><span>🐦</span> Say hi <a href="https://twitter.com/stuartwiener">on Twitter</a></li>
        </ul>

      </div>

      <div class="site-banner"></div>

    </div>

    {% include footer.html %}

  </body>

</html>
