<!DOCTYPE html>
<html>
  <head>

    {% include head.html %}

  </head>
  
  <body>

    <div class="site">

      <div class="site-header">
        <ul class="navigation space">
          <li><a href="{% link index.html %}">About</a></li>
          <li><a href="{% link work.html %}">Work</a></li>
          <li><a onclick="window.location.href='mailto:hello'+'@'+'stuartwiener.com';">Email</a></li>
          <li><a href="https://twitter.com/stuartwiener">Twitter</a></li>
        </ul>

      </div>

      <div class="site-content">
        
        {{ content }}

      </div>

      <div class="site-background">
        <canvas id="maincanvas"></canvas>
      </div>
      
    </div>

    {% include footer.html %}

  </body>

</html>
