<!DOCTYPE html>
<html>
    <head>

        {% include head.html %}

        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    </head>

    <body>

        <div class="site">

            {% include header.html class="site-header--wide" %}

            <div class="site-gallery">

                {{ content }}

                <div class="gallery js-flickity" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true }'>
                    {% for item in site.work %}
                    <div class="gallery-item">
                        <div class="gallery-item-image" style="background-image: url('{{ site.url }}/images/{{ item.thumbnail }}');"></div>
                        <div class="gallery-item-content">
                            <h2 class="subheading">{{ item.title }}</h2>
                            <p class="subtext">{{ item.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>

        {% include footer.html %}

    </body>

</html>
